.footer{
    width: 100%;
    background-color: rgb(182, 169, 177);
    height: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(151, 123, 123);
   
  
    
}